{% extends 'base.html.twig' %}

{% block body %}
   
    
    <style>
          .question-container {
            text-align: center; /* Centre le contenu */
            margin: 0 auto;
            width: 60%; /* Largeur réduite pour centrer */
            margin-right: 20%; /* Décale légèrement vers la droite */
        }
        .question-text {
            margin-bottom: 10px; /* Ajoute une marge en bas du texte de la question */
        }
    
        .gif {
            width: 35%; /* Largeur à 80% de son conteneur pour réduire la taille */
            max-height: 300px; /* Hauteur maximale de 250 pixels */
            display: block; /* Affiche l'image en tant qu'élément de bloc */
            margin: 0 auto 5px auto; /* Centre l'image avec une marge en bas */
        }
        .response-list {
            list-style: none;
            padding: 0;
        }
        
        .response-list li {
            display: block;
            margin-bottom: 10px; /* Ajoute une marge en bas de chaque réponse */
        }
        .question-heading {
         /* Aligne le texte à droite */
            margin-left: 10px; /* Décale légèrement vers la droite */
        }
        .btn-custom {
            background-color: #93a84c; /* Couleur de fond personnalisée */
            border: none; /* Supprime les bordures */
            color: white; /* Couleur du texte */
            padding: 10px 20px; /* Ajoute du padding */
            text-align: center; /* Centre le texte */
            text-decoration: none; /* Supprime la décoration du texte */
            display: inline-block; /* Affiche en tant qu'élément inline-block */
            font-size: 16px; /* Taille de police */
            margin: 4px 2px; /* Marges */
            cursor: pointer; /* Change le curseur en pointeur */
            border-radius: 12px; /* Bordures arrondies */
            transition: background-color 0.3s ease; /* Ajoute une transition pour l'effet hover */
        }

        .btn-custom:hover {
            background-color: #7c8c3e; /* Couleur de fond au survol */
        }

        .btn-custom:disabled {
            background-color: #b2c29e; /* Couleur de fond pour les boutons désactivés */
            cursor: not-allowed; /* Change le curseur pour les boutons désactivés */
        }
    </style>
   
       
        
        <form method="post" >
            {% for question in questions %}
            <input type="hidden" name="question_id" value="{{ question.id }}">
            <div class="text-center">
                {% set gif_class = 'gif-' ~ question.num %}
                <img src="{{ asset('User/img/questionnnn-' ~ question.num ~ '.gif') }}" 
                alt="GIF pour la question {{ question.num }}" 
                class="gif">
                <!-- Utilisation de style inline pour spécifier la taille et la marge -->
            </div>
        </div>
            <div class="response-list" >
                <h3 class="question-heading">Question {{ question.num }}:</h3><strong class="question-heading" >{{ question.enonce }}</strong>
                <br>
               
                <ul>
                    <li>
                        <input type="radio" id="response{{ question.id }}_1" name="response" value="{{ question.score1 }}" required>
                        <label for="response{{ question.id }}_1">{{ question.rep1 }}</label>
                    </li>
                    <li>
                        <input type="radio" id="response{{ question.id }}_2" name="response" value="{{ question.score2 }}" required>
                        <label for="response{{ question.id }}_2">{{ question.rep2 }}</label>
                    </li>
                    <li>
                        <input type="radio" id="response{{ question.id }}_3" name="response" value="{{ question.score3 }}" required>
                        <label for="response{{ question.id }}_3">{{ question.rep3 }}</label>
                    </li>
                </ul>
            </div>
            {% endfor %}
            <div class="navigation text-center">
                <ul class="pagination justify-content-center custom-pagination">
                    <li class="page-item">
                          {% if questions.currentPageNumber > 1 %}
                    
                          <a  class="page-link btn btn-custom" href="{{ path('questionnair', { 'id': collaborateur.id, 'page': questions.currentPageNumber - 1 }) }}" aria-label="Précédent">Précédent</a>

                    
                    {% else %}
                 
                            <span class="page-link btn btn-custom" disabled>Précédent</span>
                      
                    {% endif %}
                </li>
                <li class="page-item">
                    {% if questions.currentPageNumber < questions.pageCount %}
                        <button type="submit" class="page-link btn btn-custom" aria-label="Suivant">Suivant</button>
                    {% else %}
                        <button type="submit" class="page-link btn btn-custom"aria-label="Submit">Submit</button>
                    {% endif %}
                </li>
            </ul>
        </div>

</form>
{% endblock %}