{% extends 'base.html.twig' %}

{% block title %}Statistiques{% endblock %}

{% block body %}
<style>
    .custom-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 55px;
        color: white;
        background-color: #93a84c;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
        position: relative;
        z-index: 1;
        line-height: 1;
    }

    .custom-button:hover {
        background-color: #a4b765;
    }

    .stat-item {
        position: relative;
        display: inline-block;
        margin: 20px;
        text-align: center;
    }

    .stat-item img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .stat-item span {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #103741;
        font-size: 1.2em;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    }

    .stat-label {
        margin-top: 10px;
        font-size: 1.1em;
        font-weight: bold;
    }
</style>
<div style="position: relative; display: flex; flex-direction: column; align-items: center; margin-top: 20px;">
    <div style="display: flex; flex-direction: column; align-items: center; margin-bottom: 10px; z-index: 1;">
        <div style="display: flex; align-items: center; margin-bottom: 10px;">
            <h1 style="margin: 0;">Statistiques d'Interprétations</h1>
        </div>
    </div>
<br><br><br>
    <div style="display: flex; justify-content: center; width: 100%;">
        <div class="stat-item">
            <img src="{{ asset('User/img/triste.jpg') }}" alt="Besoin d'Assistance Psychologique">
            <span>{{ percentages.besoin_assistance }}%</span>
            <div class="stat-label">Besoin d'Assistance Psychologique</div>
        </div>
        <div class="stat-item">
            <img src="{{ asset('User/img/rec.jpg') }}" alt="Recommandation d'Assistance Psychologique">
            <span>{{ percentages.recommandation_assistance }}%</span>
            <div class="stat-label">Recommandation d'Assistance Psychologique</div>
        </div>
        <div class="stat-item">
            <img src="{{ asset('User/img/bon.jfif') }}" alt="Bonne État Psychologique">
            <span>{{ percentages.bonne_etat }}%</span>
            <div class="stat-label">Bonne État Psychologique</div>
        </div>
    </div>
    <br><br>
    <br>
    <a href="{{ path('ev', { 'id': collaborateur.id }) }}" class="btn btn-primary custom-button">Retour à l'évaluation</a>
</div>
{% endblock %}
